h1{
    background-color: blueviolet;
    color: cyan;
}
.Heading{
    border : solid;
}

body{
    background-color:#e6a490;
}

.Body{
    display : flex;
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.Origami{ 
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    background-color: rgb(243, 137, 129);
    width: 310px;
    border-radius: 20px;
}

.image{
    display: flex;
    justify-content: center;
    border: solid;
    border-radius: 20px;
}
